body {
    margin: 0;
    padding: 0;
}

::placeholder {
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    color: #B1B1B1;
}

#top-bar {
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    box-shadow: 0 0 4px 0 black;
    display: flex;
    align-items: center;
}

#logoimg {
    margin-left: 60px;
    width: 241px;
    height: 49px;
}

#content {
    width: 100%;
    padding-top: 50px;
}

#calendar {
    height: 447px;
    width: 416px;
    float: left;
    /*background-color: aquamarine;*/
    /*margin-left: 200px;*/
    /*float: left;*/
}

#doctors-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#specializationImg {
    background-color: #19DBAC;
    height: 60px;
    width: 60px;
    position: absolute;
}

#specialistImg {
    background-color: #19DBAC;
    height: 60px;
    width: 60px;
    position: absolute;
}

#specialization {
    margin-right: 10px;
}

#specialist {
    margin-left: 10px;
}

#doctorList {
    /*margin-left: 830px;*/
    /*width: 830px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#searchButton {
    height: 60px;
    width: 200px;
    background-color: #19DBAC;
    /*margin-left: 1150px;*/
    /*margin-top: 50px;*/
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: white;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}

#doctorImg {
    position: relative;
    top: -324px;
    left: -248px;
    height: 450px;
    width: auto;
    z-index: -1;
}

#doctorImg_next_to_calendar {
    height: 447px;
    width: auto;
    position: absolute;
    right: 90px;
    z-index: -1;
    /*margin-left: -30px;*/
}

@media screen and (max-width: 992px) {
    #doctorImg_next_to_calendar {
        right: 50px;
    }
}

@media screen and (max-width: 850px) {
    #doctorImg_next_to_calendar {
        display: none;
    }

    #filters {
        flex-wrap: wrap !important;
    }

    #specialization {
        margin-right: 0;
    }

    #specialist {
        margin-top: 10px;
        margin-left: 0;
    }

    #calendar-column {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .doctor_li_content {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .doctor_li {
        height: 180px !important;
        background-image: url("../static/images/doctor_li_bg.png");
        background-repeat: no-repeat;
        background-position: right;

    }

    .doctor_img_small_circle {
        width: 80px !important;
        height: 80px !important;
    }
}

@media screen and (max-width: 1800px) {
    #doctorImg {
        display: none;
    }
}

#footer {
    width: 100%;
    height: 140px;
    margin-top: 140px;
    background-color: #19DBAC;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}

#filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /*max-width: 400px;*/
    height: 60px;
    background-color: white;
    float: left;
    border-radius: 20px;
    border-width: 0;
    box-shadow: 0 11px 44px 0 rgba(19, 10, 46, 0.07);

}

.search-input-icon {
    font-size: 40px;
    margin: 0 10px 0 15px;
}

.browser {
    width: 100%;
    height: 90%;
    /*margin-left: 80px;*/
    /*margin-top: 5px;*/
    border: none;
    outline: none;
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    color: black;
    background: none;
    padding-right: 10px;
}

.doctor_li {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 11px 44px 0 rgba(19, 10, 46, 0.07);
}

.doctor_li_text {
    line-height: 40px;
    /*margin-left: -100px !important;*/
}

.doctor_li_content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.doctor_li_label {
    /*position: absolute;*/
    color: rgba(124, 124, 124, 0.49);
    line-height: 10px;
}

.doctor_img_small_circle {
    height: 70px;
    width: 70px;
    margin: 10px 10px 10px 20px;
    background-color: #19DBAC;
    border: 1px solid rgba(124, 124, 124, 0.49);
}

.doctor_img_big_circle {
    height: 250px;
    width: 250px;
    margin: 10px 10px 10px 20px;
    background-color: #19DBAC;
    border: 1px solid rgba(124, 124, 124, 0.49);
}

.doctor_li_back_image {
    transform: rotate(45deg);
}

/* CALENDAR */
.color-calendar {
    width: 100%;
    height: 100%;
    font-size: 1rem !important;
}

.color-calendar.glass {
    --cal-color-primary: #19dbac;
}

.calendar__header {
    height: 90px;
    justify-content: space-evenly;
}

.calendar__picker {
    top: 90px !important;
}

.calendar__arrow {
    height: 100% !important;
}

.calendar__body {
    height: 100% !important;
}

.calendar__weekdays {
    grid-template-columns: repeat(7, minmax(25px, 55px)) !important;
    justify-content: space-evenly;
    padding-top: 10px;
}

.calendar__days {
    padding-top: 10px;
    grid-template-columns: repeat(7, minmax(30px, 55px)) !important;
    grid-template-rows: repeat(6, minmax(30px, 42px)) !important;
    row-gap: 5px;
    justify-content: space-evenly;
}

.calendar__day-box {
    border-radius: 100px !important;
}

#review{
    font-size: 24px;
    font-family: 'Rambla', sans-serif;
    padding-left: 30px;
}

.comments{
    margin-top: 10px;
    background-color: white;
    height: 180px;
    box-shadow: 0px 41px 115px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
#more_comments{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 40px;
    width: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    color: #19dbac;
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 0;
}

#doctor_name{
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Rambla', sans-serif;
    font-size: 55px;
    font-weight: bold;
}

.doctor_info_content{
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
}

.hospital_img{
    height: 250px;
    width: 300px;
    margin: 10px 10px 10px 20px;
    background-color: #19DBAC;
    border-radius: 20px;
}
.job_info{
box-shadow: 0px 41px 115px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

#location{
    border-bottom: 1px solid #B1B1B1;
}
.job_info_content
{
    margin:5px;
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
}
#day{
    margin-top: 5px;
    font-size: 20px;
}
#hour{
    margin-top: 5px;
    font-size: 20px;
    text-align: right;
}

#reservationButton
{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color:white;
    background-color: #19dbac;
    border-radius: 20px;
    font-family: 'Rambla', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: 0;
}
.reservation-button
{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #19dbac;
    border-radius: 20px;
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.reservation-button-doctor-list {
    width: 120px;
    height: 60px;
    color: #5C5C5C;
    background-color: #E5E5E5;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    line-height: 18px;
    margin-top: 20px;
}

.search_list_page {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*width: 100%;*/
    /*max-width: 400px;*/
    height: 60px;
    background-color: white;
    float: left;
    border-radius: 20px;
    border-width: 0;
    box-shadow: 0 11px 44px 0 rgba(19, 10, 46, 0.07);
}

.doctor_li_list_page {
    min-height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 11px 44px 0 rgba(19, 10, 46, 0.07);
}

.dateButton
{
    text-align: center;
    color: #5C5C5C;
    background-color: #E5E5E5;
    border-radius: 20px;
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    border: 0;
    padding: 13px;
    margin-top: 5px;
    cursor: pointer;
    width: 125px;
}

.availableHoursDoctorList {
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 10px 0;
}

.loadingSpinnerDoctorList {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hiddenBtn {
    display: none !important;
}

#yourVisits{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Rambla', sans-serif;
}

.visit_li_list_page {
    min-height: 160px;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0 11px 44px 0 rgba(19, 10, 46, 0.07);

}

/*input:invalid {*/
/*  box-shadow: 0 0 1px 1px red;*/
/*}*/