<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <!--- Font !--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rambla&display=swap" rel="stylesheet">

</head>
<body>
    <div id="top-bar">

        <div id="logo">
            <img id="logoimg" src="../static/images/logo.png">
        </div>
    </div>

    <div id="content">
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>