{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-between">
       <div id="doctor_basic" class="col-4" >
        <div id="calendar"></div>
           <div class="search_list_page" >
                    <i class="bi bi-clipboard-heart search-input-icon"></i>
                    <input class="browser" list="specializations" id="specializationBrowser"
                           placeholder="Wybierz specjalizację...">
                    <datalist id="specializations">
                        {% for specialization in specializations %}
                            <option value="{{ specialization[0] }}">
                        {% endfor %}
                    </datalist>
                </div>

            <div class="search_list_page" >
                    <i class="bi bi-person search-input-icon"></i>
                    <input class="browser" list="specialists" id="specialistBrowser"
                           placeholder="Wybierz specjalistę...">
                    <datalist id="specialists">
                        {% for doctor in doctors %}
                            <option value="{{ doctor[1] }} {{ doctor[2] }}">
                        {% endfor %}
                    </datalist>
                </div>


        </div>


        <div class="col" >
            {% for doctor in doctors %}
                    <div class="doctor_li_list_page">
                        <img src="../static/images/doctor{{ doctor[5] }}.png" class="doctor_img_small_circle rounded-circle" alt="Doctor Avatar">
                        <div class="doctor_li_content">
                            <div class="col-3">
                                <h6 class="doctor_li_label m-0 h-100">Imię i Nazwisko</h6>
                                <h5 class="doctor_li_text m-0 h-100">{{ doctor[1] }} {{ doctor[2] }}</h5>
                            </div>
                            <div  class="col-3">
                                <h6 class="doctor_li_label m-0 h-100">Specjalizacja</h6>
                                <h5 class="doctor_li_text m-0 h-100">{{ doctor[6] }}</h5>
                            </div>


                                <div class="col">
                                    <div class="dateButton">8:00-8:30</div>
                                    <div class="dateButton">8:00-8:30</div>
                                    <div class="dateButton">8:00-8:30</div>
                                </div>
                                <div class="col">
                                    <div class="dateButton">8:00-8:30</div>
                                    <div class="dateButton">8:00-8:30</div>
                                    <div class="dateButton">8:00-8:30</div>
                                </div>

                        </div>

                    </div>
                {% endfor %}
        </div>

    </div>

{% endblock %}