{% extends "base.html" %}

{% block login %}
    {% if isUserLoggedIn %}
        <a href="/auth/logout" id="loginLink">
            <button id="loginBtn" class="reservation-button me-5">Wyloguj</button>
        </a>
    {% else %}
        <a href="/auth/login" id="loginLink">
            <button id="loginBtn" class="reservation-button me-5">Zaloguj</button>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% import 'modals.html' as modals %}
    <div class="row justify-content-between">

        <div id="calendar-column" class="col-lg-4">
            {#  Calendar based on color-calendar package  #}
            <div id="calendar"></div>
            <img id="doctorImg" src="../static/images/homepagedoctor.png" alt="doctor image">
            <img id="doctorImg_next_to_calendar" class="d-xl-none" src="../static/images/homepagedoctor.png"
                 alt="doctor image">
        </div>

        <div id="doctors-column" class="col-xxl-8 col-xl-7 mt-4 mt-xl-0">
            <div id="filters">
                <div class="search" id="specialization">
                    <i class="bi bi-clipboard-heart search-input-icon"></i>
                    <input class="browser" list="specializations" id="specializationBrowser"
                           placeholder="Wybierz specjalizację...">
                    <datalist id="specializations">
                        {% for specialization in specializations %}
                            <option value="{{ specialization[0] }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="search" id="specialist">
                    <i class="bi bi-person search-input-icon"></i>
                    <input class="browser" list="specialists" id="specialistBrowser"
                           placeholder="Wybierz specjalistę...">
                    <datalist id="specialists">
                        {% for doctor in doctors %}
                            <option value="{{ doctor[1] }} {{ doctor[2] }}">
                        {% endfor %}
                    </datalist>
                </div>
            </div>

            {{ modals.reservationModal() }}

            <div id="doctorList">
                {# for loop thru all the doctors passed from route #}
                {#
                    id              -> doctor[0]
                    first_name      -> doctor[1]
                    last_name       -> doctor[2]
                    city            -> doctor[3]
                    workplace       -> doctor[4]
                    photo           -> doctor[5]
                    specialization  -> doctor[6]
                #}
                {% for doctor in doctors %}
                    <div class="doctor_li" data-doctor-name="{{ doctor[1] }} {{ doctor[2] }}"
                         data-doctor-spec="{{ doctor[6] }}">
                        <a href='doctorpage/{{ doctor[5] }}'>
                            <img src="../static/images/doctor{{ doctor[5] }}.png"
                                 class="doctor_img_small_circle rounded-circle" alt="Doctor Avatar">
                        </a>
                        <div class="doctor_li_content row flex-row">
                            <div class="col-7 col-md-8 d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                <div class="col col-md-6">
                                    <h6 class="doctor_li_label m-0 h-100">Imię i Nazwisko</h6>
                                    <h5 class="doctor_li_text m-0 h-100">{{ doctor[1] }} {{ doctor[2] }}</h5>
                                </div>
                                <div class="col col-md-6 mt-2 mt-md-0">
                                    <h6 class="doctor_li_label m-0 h-100">Specjalizacja</h6>
                                    <h5 class="doctor_li_text m-0 h-100">{{ doctor[6] }}</h5>
                                </div>
                            </div>

                            <div class="col-5 col-md-3 mt-4 mt-md-0">
                                <button
                                        class="reservation-button"
                                        type="button"
                                        onclick="handleReservationBtnClick(
                                                '../static/images/doctor{{ doctor[5] }}.png',
                                                '{{ doctor[1] }} {{ doctor[2] }}',
                                                '{{ doctor[6] }}',
                                                '{{ doctor[0] }}'
                                                )"
                                >
                                    Rezerwuj
                                </button>
                            </div>


                        </div>

                    </div>
                {% endfor %}

                <a href='doctor_list'>
                    <button id="searchButton" class="btn btn-primary" type="button">
                        <strong>Pokaż więcej</strong>
                    </button>
                </a>
            </div>
        </div>
    </div>



    <script src="../static/reservations.js"></script>
    <script src="../static/filtering.js"></script>





{% endblock %}
        
