<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <!--- Font !--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rambla&display=swap" rel="stylesheet">

</head>
<body>
    <div id="top-bar">

        <div id="logo">
            <img id="logoimg" src="../static/images/logo.png">
        </div>
    </div>

    <div id="content">
        <div id="calendar">
        </div>
        <div id="searchbars">

            <div class="search" id="specialization">
                <div id="specializationImg"></div>
                <input class="browser" list="browsers"  id="specializationBrowser" placeholder="Wybierz specjalizację...">
                  <datalist id="browsers">
                    <option value="1">
                    <option value="2">
                  </datalist>
            </div>
            <div class="search" id="specialist">
                <div id="specialistImg"></div>
                <input type="text" class="browser"  id="specialisBrowser" placeholder="Wybierz specjalistę...">
            </div>
        </div>
        <div id="doctorList">
        </div>

        <button id="searchButton" type="button"><strong>Szukaj</strong></button>

        <img id="doctorImg" src="../static/images/homepagedoctor.png">
        <div id="footer">

        </div>


    </div>
</body>
</html>